<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/register.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://kit.fontawesome.com/792cf20241.js" crossorigin="anonymous"></script>
    <title>{{ headerInfo.name }}</title>
</head>

<body>

    <div class="form-container">
        <h1>Register</h1>
        <!-- <form action="/upload" enctype="multipart/form-data" method="POST"> -->
        <form action="/register" enctype="multipart/form-data" method="POST">
            <div class="input-container">
                <label for="username">User</label>
                <input type="name" name="username" id="username" placeholder=">" required />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder=">" required />
            </div>
            <div class="button-container">
                <input class="button submit contact-button" type="submit" value="Register" />
            </div>
        </form>
    </div>

</body>

</html>